.contact {
  margin-left: auto;
 

  // padding-top: 32px;
  // padding-bottom: 32px;
  @include mq(mob-only) {
    display: none;
  }
  @include mq(desk) {
    display: flex;
    align-items: center;
    
  }
}

.contact__item {
  &:not(:last-child){
    @include mq(tab-only){
      margin-bottom: 10px;
    }
    @include mq(desk) {
      margin-right: 50px;
      
    }
  }
 
}
.contact__icon {
  margin-right: 10px;
  fill: var(--title-text-color);
  transition: fill, var(--transition);
  .contact__link:hover & {
    fill: var(--accent-color);
  }
  .contact__link:focus & {
    fill: var(--accent-color);
  }
}
.contact__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--title-text-color);
  font-weight: 500;
  
  letter-spacing: 0.02em;
  transition: color, var(--transition);
  @include mq(desk){
    font-size: 14px;
    line-height: 1.14;
    
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-num {
  display: block;
  transition: color, var(--transition);
}

.link,
.contact-num {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.link:hover,
.contact-num:hover {
  color: var(--accent-color);
}

.link:focus,
.contact-num:focus {
  color: var(--accent-color);
}

address {
  font-size: 14px;
  line-height: 1.7;
}
