
.section__hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--background-hero-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/herofon-sm.jpg );
   
    background-repeat: no-repeat;
    background-size: cover;
    
    @include mq(desk){
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600рх;
        margin: 0 auto;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/herofon.jpg );
    }
}   
.hero__block {
    display: flow-root;  
}
.hero__title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 360px;
    margin-bottom: 30px;
   
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include mq (desk){
        max-width: 696px;
        font-size: 44px;
    }
    
}