// .qualities{
    
// }
.icon__qualitis{
    max-width: 270px;
    padding: 25px 102px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    // @include mq(mob){
    //     max-width: 450px;
    // }
}

.title {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @include mq(mob){
        padding-left: 15px;
        padding-right: 15px;
    }
   
}

.description {
    margin-right: 30px;
    width: 270px;
    height: 75px;
    
    font-size: 14px;
    line-height: 1.7;
    &:last-child{
        margin-right: 0 px;
    }

}


.feature {
     padding-top: 60px;
  @include mq(tab){
    display: flex;
    justify-content: center;
  
}
}
.feature .title {
    color: var(--primary-text-color);
}