.qualities{
   
    @include mq(desk){
        padding-bottom: 47px;
    }
}
.icon__qualitis{
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

}

.feature .title {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    
    @include mq(mob-only){
       text-align: center;
    }
   
}

.description {
    font-size: 14px;
    line-height: 1.7;
}


.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    @include mq(tab){
    flex-direction: row;
}
}

.feature__item{
    margin-top: 30px;
    margin-left: 30px;
    @include mq(tab){
        width: calc(100% / 2 - 30px);
    }
    @include mq(desk){
        width: calc(100% / 4 - 30px);
    }
}