.site__nav .linc {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color, var(--transition);
   &:hover,
   &:focus{
    color: var(--accent-color);
}   
}
.site__nav{
    display: flex;
    padding: 0;
}
.site__nav-linc{
    margin-right: 50px;
    padding-bottom: 32px;
    padding-top: 32px;
    position: relative;

}


.site__nav .linc.curent {
    color: var(--accent-color);
}