.comand-teem{
    display: block;
}
.comand-name {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.profession {
    font-size: 16px;
    line-height: 1.18;   
}
