.button {
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    font-family: $main-fonts;
    font-style: normal;
}
.button-primary {
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    min-width: 200px;
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    transition: background-color,var(--transition);

    &:hover,
    &:focus{
   background-color:  #188CE8;
}
}

.btn-portfolio {
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
} 
}
