.modal{
    max-width: 528px;
    min-height: 581px;
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: var(--hero-title-color);
    transform: translate(-50%,-50%);
    transition:  transform 500ms linear;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1);
}
.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scale(0) rotate(45deg);
}
.button-modal{
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 50% 50%;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: fill var(--transition);
    cursor: pointer;
   
}

.modal-title {
     text-align: center;
     color: var(--primary-text-color);
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;
     margin-left: 40px;
     margin-right: 40px;
     margin-bottom: 12px;
     padding-top: 40px;
  }
  .backdrop {
    width: 100%;
   height: 100%;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 999;
   opacity: 1;
   top: 0;
   left: 0;
   transition: opacity 500ms linear,visibility 500ms linear ;
   
}
.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.close-svg{
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: fill var(--transition);
    .button-modal:hover &,
    .button-modal:focus &{
    fill: var(--accent-color);
}
}